.form-container{
    box-shadow:2px 2px 5px 0 #888;
    padding:10px;
}

.productview{
    text-align: center;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }